In [88]:
import pandas as pd
import json
from pandas.io.json import json_normalize

In [90]:
#open json
with open('data/world_bank_projects.json') as f:
    raw = json.load(f)
type(raw)

list

In [91]:
#use normalization to create a table from the nested column
df_themes = json_normalize(raw, 'mjtheme_namecode', ['countryname'])
df_themes.head()

,code,name,countryname
0,8,Human development,Federal Democratic Republic of Ethiopia
1,11,,Federal Democratic Republic of Ethiopia
2,1,Economic management,Republic of Tunisia
3,6,Social protection and risk management,Republic of Tunisia
4,5,Trade and integration,Tuvalu

In [99]:
df_themes['countryname'].value_counts(dropna=False).nlargest(10)

Republic of Indonesia              56
Republic of India                  51
Socialist Republic of Vietnam      43
People's Republic of Bangladesh    41
Federative Republic of Brazil      41
People's Republic of China         40
Africa                             39
Republic of Yemen                  34
Kingdom of Morocco                 32
Republic of Mozambique             31
Name: countryname, dtype: int64

In [101]:
df_themes['code'].value_counts(dropna=False).nlargest(10)

11    250
10    216
8     210
2     199
6     168
4     146
7     130
5      77
9      50
1      38
Name: code, dtype: int64

In [102]:
df_themes.head(10)

,code,name,countryname
0,8,Human development,Federal Democratic Republic of Ethiopia
1,11,,Federal Democratic Republic of Ethiopia
2,1,Economic management,Republic of Tunisia
3,6,Social protection and risk management,Republic of Tunisia
4,5,Trade and integration,Tuvalu
5,2,Public sector governance,Tuvalu
6,11,Environment and natural resources management,Tuvalu
7,6,Social protection and risk management,Tuvalu
8,7,Social dev/gender/inclusion,Republic of Yemen
9,7,Social dev/gender/inclusion,Republic of Yemen

In [105]:
len(df_themes.loc[df_themes['name']=='',:])

122

In [106]:
for index, row in df_themes.iterrows():
#    print(row['code'], row['name'])
    if(row['name']==''):
        for newindex,newrow in df_themes.iterrows():
            if(newrow['code']==row['code'] and newrow['name']!=''):
                row['name']=newrow['name']
                break

In [107]:
len(df_themes.loc[df_themes['name']=='',:])

0

In [108]:
df_themes.head(10)

,code,name,countryname
0,8,Human development,Federal Democratic Republic of Ethiopia
1,11,Environment and natural resources management,Federal Democratic Republic of Ethiopia
2,1,Economic management,Republic of Tunisia
3,6,Social protection and risk management,Republic of Tunisia
4,5,Trade and integration,Tuvalu
5,2,Public sector governance,Tuvalu
6,11,Environment and natural resources management,Tuvalu
7,6,Social protection and risk management,Tuvalu
8,7,Social dev/gender/inclusion,Republic of Yemen
9,7,Social dev/gender/inclusion,Republic of Yemen